.citizensManager {
	
	.window {
		width: 1399px !important;
	}

	.workersList {
		width: 1135px !important;
		.workersListTableContainer {
			height: 620px !important;
		}
	}

	#tasksWorkersList {
		#tasksTitleName {
			width: 220px !important;
		}

		#activityTitle {
			width: 145px !important;
		}
		
		#suspendButtons {
			margin-left: 750px;

			.suspendButton {
				padding: 5px;
				margin: 0px 0px 0px 8px;
			}

			.suspendButtonImg {
				width: 26px;
				height: 26px;
			}
		}
	}

	#groupsWorkersList {
		.listTitle{
			width: 340px !important;
		}
		
		#groupsTitleName {
			width: 220px !important;
		}
	}

	table {

		.nameColumn {
			width: 230px !important;
		}

		.activityColumn {
			width: 150px !important;
		}

		.workOrderColumn {
			width: 110px !important;
		}
	}
}